<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.doitnow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.team.doitnow.InscriptionActivity"
            android:label="activity_inscription" >
        </activity>
        <activity
            android:name=".CompteSettingActivity"
            android:label="activity_compte_user" >
        </activity>
        <activity
            android:name="com.team.doitnow.ConnexionActivity"
            android:label="activity_connexion" >
       		 <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.team.doitnow.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="old.FragmentsSliderActivity"
            android:label="@string/title_activity_fragment" >
        </activity>
 		<activity
            android:name=".CreateEventActivity"
            android:label="@string/title_activity_flash_alerte" >
        </activity>
        <activity
            android:name=".ActuEventListActivity"
            android:label="@string/title_activity_warn_list" >
        </activity>
        <activity
            android:name="old.DetailWarningActivity"
            android:label="@string/title_activity_detail_warning" >
        </activity>
        <activity
            android:name="com.team.doitnow.tabsswipe.TabSwipeMainActivity"
            android:label="activity_tab_swipe_main" >
        </activity>
    </application>

</manifest>
